/*

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. testimonials
08. contact
09. footer
10. preloader

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900";
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
/*
---------------------------------------------
about
---------------------------------------------
*/
/*
---------------------------------------------
promotion
---------------------------------------------
*/
/*
--------------------------------------------
testimonials
--------------------------------------------
*/
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
@-webkit-keyframes "jumper" {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}
@keyframes "jumper" {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #fff;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: 'Poppins', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #fff;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: 'Poppins', sans-serif;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	pre {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	}
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
applet {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
object {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h4 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 15px;
	line-height: 25px;
	color: #888;
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none !important;
}
abbr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
acronym {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
address {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
big {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
cite {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
code {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
del {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dfn {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
em {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
font {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ins {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
kbd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
q {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
s {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
samp {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
small {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strike {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strong {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sub {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sup {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
tt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
b {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
u {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dl {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 0px;
}
li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
article {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
footer {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	margin-top: 100px;
	padding-top: 120px;
	background-image: url(../images/bbg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	.footer-content {
		padding: 10px 0px;
	}
	.right-content {
		align-self: center;
	}
	.social {
		overflow: hidden;
		margin-top: 30px;
		li {
			&:first-child {
				margin-left: 0px;
			}
			margin: 0px 7.5px;
			display: inline-block;
			a {
				color: #fff;
				text-align: center;
				background-color: transparent;
				border: 1px solid #fff;
				width: 44px;
				height: 44px;
				line-height: 44px;
				border-radius: 50%;
				display: inline-block;
				font-size: 16px;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				&:hover {
					background-color: #00317d;
					border-color: #4c9bd2;
					color: #fff;
				}
			}
		}
	}
	.copyright {
		margin-top: 10px;
		font-weight: 400;
		font-size: 15px;
		color: #4a4a4a;
		letter-spacing: 0.88px;
		text-transform: capitalize;
	}
	.sub-footer {
		padding: 60px 0px;
		border-top: 1px solid rgba(250, 250, 250, 0.3);
		text-align: center;
		a {
			color: #FFF;
			&:hover {
				color: #4c9bd2;
			}
		}
		p {
			color: #fff;
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 0.5px;
		}
	}
}
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	display: inline-block;
}
html[xmlns] {
	.clearfix {
		display: block;
	}
}
* {
	html {
		.clearfix {
			height: 1%;
		}
	}
	box-sizing: border-box;
}
hgroup {
	display: block;
}
.counterValue {
	display: none !important;
}
// &::selection {
// 	background: #55b0f1;
// 	color: #fff;
// }
// &::-moz-selection {
// 	background: #55b0f1;
// 	color: #fff;
// }
a.main-button-slider {
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #00317d;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #55b0f1;
	}
}
a.main-button {
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #00317d;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #55b0f1;
	}
}
button.main-button {
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #00317d;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #55b0f1;
	}
}
.center-heading {
	margin-bottom: 70px;
	h2 {
		margin-top: 0px;
		text-align: center;
		font-size: 42px;
		font-weight: 700;
		color: #1e1e1e;
		margin-bottom: 25px;
		em {
			font-style: normal;
			color: #00317d;
		}
	}
	p {
		font-size: 15px;
		color: #888;
		text-align: center;
	}
}
.background-header {
	background-color: #fff;
	height: 80px !important;
	position: fixed !important;
	top: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
	.logo {
		color: #00317d !important;
	}
	.main-nav {
		.nav {
			li {
				a {
					color: #1e1e1e !important;
				}
				&:hover {
					a {
						color: #00317d!important;
					}
				}
			}
		}
		.menu-trigger {
			span {
				background-color: #1e1e1e;
				&:before {
					background-color: #1e1e1e;
					background-color: #1e1e1e;
				}
				&:after {
					background-color: #1e1e1e;
					background-color: #1e1e1e;
				}
			}
		}
		.menu-trigger.active {
			span {
				&:before {
					background-color: #1e1e1e;
				}
				&:after {
					background-color: #1e1e1e;
				}
			}
		}
	}
	.nav {
		li {
			a.active {
				color: #00317d !important;
			}
		}
	}
}
.t-underline {
	text-decoration: underline;
	cursor: pointer;
}
.header-area {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	height: 100px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	.main-nav {
		min-height: 80px;
		background: transparent;
		.logo {
			line-height: 80px;
			color: #00317d;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
			float: left;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}
		.nav {
			float: left;
			margin-top: 27px;
			margin-left: 15%;
			margin-right: 0px;
			background-color: #fff;
			padding: 0px 20px;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
			position: relative;
			z-index: 999;
			li {
				padding-left: 20px;
				padding-right: 20px;
				&:last-child {
					padding-right: 0px;
				}
				a {
					display: block;
					font-weight: 500;
					font-size: 13px;
					color: #7a7a7a;
					text-transform: uppercase;
					-webkit-transition: all 0.3s ease 0s;
					-moz-transition: all 0.3s ease 0s;
					-o-transition: all 0.3s ease 0s;
					transition: all 0.3s ease 0s;
					height: 40px;
					line-height: 40px;
					border: transparent;
					letter-spacing: 1px;
				}
				&:hover {
					a {
						color: #00317d;
					}
				}
			}
			li.submenu {
				position: relative;
				padding-right: 35px;
				&:after {
					font-family: FontAwesome;
					content: "\f107";
					font-size: 12px;
					color: #7a7a7a;
					position: absolute;
					right: 18px;
					top: 12px;
				}
				ul {
					position: absolute;
					width: 200px;
					box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
					overflow: hidden;
					top: 40px;
					opacity: 0;
					transform: translateY(-2em);
					visibility: hidden;
					z-index: -1;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					li {
						margin-left: 0px;
						padding-left: 0px;
						padding-right: 0px;
						a {
							display: block;
							background: #fff;
							color: #7a7a7a !important;
							padding-left: 20px;
							height: 40px;
							line-height: 40px;
							-webkit-transition: all 0.3s ease 0s;
							-moz-transition: all 0.3s ease 0s;
							-o-transition: all 0.3s ease 0s;
							transition: all 0.3s ease 0s;
							position: relative;
							font-size: 13px;
							border-bottom: 1px solid #f5f5f5;
							&:before {
								content: '';
								position: absolute;
								width: 0px;
								height: 40px;
								left: 0px;
								top: 0px;
								bottom: 0px;
								-webkit-transition: all 0.3s ease 0s;
								-moz-transition: all 0.3s ease 0s;
								-o-transition: all 0.3s ease 0s;
								transition: all 0.3s ease 0s;
								background: #00317d;
							}
							&:hover {
								background: #fff;
								color: #00317d !important;
								padding-left: 25px;
								&:before {
									width: 3px;
								}
							}
						}
					}
				}
				&:hover {
					ul {
						visibility: visible;
						opacity: 1;
						z-index: 1;
						transform: translateY(0%);
						transition-delay: 0s, 0s, 0.3s;
					}
				}
			}
		}
		.menu-trigger {
			cursor: pointer;
			display: block;
			position: absolute;
			top: 23px;
			width: 32px;
			height: 40px;
			text-indent: -9999em;
			z-index: 99;
			right: 40px;
			display: none;
			span {
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				background-color: #1e1e1e;
				display: block;
				position: absolute;
				width: 30px;
				height: 2px;
				left: 0;
				top: 16px;
				&:before {
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: #1e1e1e;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: #1e1e1e;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					width: 75%;
					content: "";
					-moz-transform-origin: 33% 100%;
					-ms-transform-origin: 33% 100%;
					-webkit-transform-origin: 33% 100%;
					transform-origin: 33% 100%;
					top: -10px;
					z-index: 10;
				}
				&:after {
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: #1e1e1e;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: #1e1e1e;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					width: 75%;
					content: "";
					-moz-transform-origin: 33% 0;
					-ms-transform-origin: 33% 0;
					-webkit-transform-origin: 33% 0;
					transform-origin: 33% 0;
					top: 10px;
				}
			}
		}
		.menu-trigger.active {
			span {
				background-color: transparent;
				width: 100%;
				&:before {
					background-color: transparent;
					width: 100%;
					-moz-transform: translateY(6px) translateX(1px) rotate(45deg);
					-ms-transform: translateY(6px) translateX(1px) rotate(45deg);
					-webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
					transform: translateY(6px) translateX(1px) rotate(45deg);
					background-color: #1e1e1e;
				}
				&:after {
					background-color: transparent;
					width: 100%;
					-moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					-ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					-webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					transform: translateY(-6px) translateX(1px) rotate(-45deg);
					background-color: #1e1e1e;
				}
			}
		}
	}
}
.header-area.header-sticky {
	min-height: 80px;
	position: relative;
	z-index: 11;
	.nav {
		margin-top: 20px !important;
		li {
			a.active {
				color: #00317d;
			}
		}
	}
}
.welcome-area {
	width: 100%;
	height: 50vh;
	min-height: 600px;
	background-image: url(../images/book.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	.header-text {
		.left-text {
			position: relative;
			align-self: center;
			margin-top: 0%;
			// transform: perspective(1px) translateY(-30%) !important;
		}
		h1 {
			font-weight: 900;
			font-size: 52px;
			line-height: 80px;
			letter-spacing: 1px;
			margin-bottom: 30px;
			color: #191a20;
			em {
				font-style: normal;
				color: #00317d;
			}
		}
		p {
			font-weight: 300;
			font-size: 17px;
			color: #7a7a7a;
			line-height: 30px;
			letter-spacing: 0.25px;
			margin-bottom: 40px;
			position: relative;
		}
	}
}
#about {
	padding: 100px 0px;
	position: relative;
	z-index: 9;
}
.features-item {
	border-radius: 5px;
	padding: 60px 30px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	h2 {
		z-index: 9;
		position: absolute;
		top: 15px;
		left: 45px;
		font-size: 100px;
		font-weight: 600;
		color: #e9ebfd;
	}
	img {
		z-index: 10;
		position: relative;
		max-width: 100%;
		margin-bottom: 40px;
		height: 80px;
	}
	h4 {
		margin-top: 0px;
		font-size: 22px;
		color: #1e1e1e;
		margin-bottom: 25px;
	}
	.main-button {
		margin-top: 35px;
		display: inline-block;
	}
}
.left-image-decor {
	background-image: url();
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 110%;
	margin-top: -200px;
}
#promotion {
	padding: 100px 0px;
	.left-image {
		align-self: center;
	}
	.right-text {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-bottom: 60px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
		img {
			display: inline-block;
			float: left;
			margin-right: 30px;
		}
		h4 {
			font-size: 22px;
			color: #1e1e1e;
			margin-bottom: 15px;
			margin-top: 3px;
		}
	}
}
.right-image-decor {
	background-image: url();
	background-repeat: no-repeat;
	background-position: right center;
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 110%;
	margin-top: -200px;
}
.testimonials {
	padding-top: 100px;
	position: relative;
	z-index: 9;
	.item {
		position: relative;
		.testimonial-content {
			background: rgb(244, 129, 63);
			background: linear-gradient(145deg, #00317d 0%, #4c9bd2 100%);
			margin-left: 60px;
			padding: 40px 40px;
			text-align: center;
			border-radius: 5px;
			ul {
				li {
					display: inline-block;
					margin: 0px 1px;
					i {
						color: #fff;
						font-size: 13px;
					}
				}
			}
			h4 {
				font-size: 22px;
				margin-top: 20px;
				color: #fff;
			}
			p {
				color: #fff;
				font-style: italic;
				font-weight: 200;
				margin: 20px 0px 15px 0px;
			}
			span {
				color: #fff;
				font-weight: 200;
				font-size: 13px;
			}
		}
	}
	.author {
		img {
			max-width: 120px;
			margin-bottom: -60px;
		}
	}
}
.owl-carousel {
	.owl-nav {
		button.owl-next {
			span {
				z-index: 10;
				top: 45%;
				border-radius: 10px;
				font-size: 46px;
				color: #fff;
				right: -210px;
				width: 80px;
				height: 80px;
				line-height: 80px;
				text-align: center;
				display: inline-block;
				background: rgb(244, 129, 63);
				background: linear-gradient(145deg, rgb(63 77 244) 0%, rgb(119 85 241) 100%);
				background: linear-gradient(145deg, rgb(0, 49, 125) 0%, rgb(76, 155, 210) 100%);
				position: absolute;
			}
		}
		button.owl-prev {
			span {
				z-index: 9;
				top: 35%;
				border-radius: 10px;
				font-size: 46px;
				color: #fff;
				right: -150px;
				width: 80px;
				height: 80px;
				line-height: 80px;
				text-align: center;
				display: inline-block;
				background: rgb(244, 129, 63);
				background: linear-gradient(145deg, rgb(63 77 244) 0%, rgb(119 85 241) 100%);
				background: linear-gradient(145deg, rgb(0, 49, 125) 0%, rgb(76, 155, 210) 100%);
				position: absolute;
			}
		}
	}
}
.contact-form {
	position: relative;
	z-index: 10;
	padding: 45px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	input {
		color: #777;
		font-size: 13px;
		border: 1px solid #eee;
		background-color: #f7f7f7;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		outline: none;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 30px;
	}
	textarea {
		color: #777;
		font-size: 13px;
		border: 1px solid #eee;
		background-color: #f7f7f7;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		outline: none;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 30px;
		height: 150px;
		resize: none;
		padding: 20px;
	}
	&::-webkit-input-placeholder {
		color: #7a7a7a;
	}
	&:-ms-input-placeholder {
		color: #7a7a7a;
	}
	&::placeholder {
		color: #7a7a7a;
	}
}
.footer-content {
	.right-content {
		color: #fff;
		h2 {
			margin-top: 0px;
			margin-bottom: 30px;
			font-size: 42px;
			text-transform: capitalize;
			font-weight: 700;
			letter-spacing: 1px;
			em {
				font-style: normal;
				color: #00317d;
			}
		}
		p {
			color: #FFF;
		}
		a {
			color: #FFF;
			&:hover {
				color: #FC3;
			}
		}
	}
}
#preloader {
	overflow: hidden;
	background-image: linear-gradient(145deg, #00317d 0%, #55b0f1 100%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999;
	color: #fff;
	.jumper {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		position: absolute;
		margin: auto;
		width: 50px;
		height: 50px;
		>div {
			background-color: #fff;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			position: absolute;
			opacity: 0;
			width: 50px;
			height: 50px;
			-webkit-animation: jumper 1s 0s linear infinite;
			animation: jumper 1s 0s linear infinite;
			&:nth-child(2) {
				-webkit-animation-delay: 0.33333s;
				animation-delay: 0.33333s;
			}
			&:nth-child(3) {
				-webkit-animation-delay: 0.66666s;
				animation-delay: 0.66666s;
			}
		}
	}
}
#blogs {
	.owl-prev {
		span {
			left: -50px;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			// background: linear-gradient(145deg, rgb(63 236 244) 0%, rgb(85 112 241) 100%);
			background: linear-gradient(145deg, #00317d 0%, #4c9bd2 100%);
		}
	}
	.owl-next {
		span {
			right: -50px;
			top: 50%;
			transform: translateY(-50%);
			// background: linear-gradient(145deg, rgb(63 236 244) 0%, rgb(85 112 241) 100%);
			background: linear-gradient(145deg, #00317d 0%, rgb(119, 85, 241) 100%);
			background: linear-gradient(145deg, rgb(0, 49, 125) 0%, rgb(76, 155, 210) 100%);
		}
	}
	.owl-carousel.owl-loaded {
		display: flex;
		align-items: center;
	}
}
#blogs.testimonials {
	.item {
		.testimonial-content {
			margin-left: 0;
		}
	}
}
@media (max-width: 991px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.mobile-top-fix {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.mobile-bottom-fix {
		margin-bottom: 30px;
	}
	.mobile-bottom-fix-big {
		margin-bottom: 60px;
	}
	.logo {
		text-align: center;
		float: none !important;
	}
	.row {
		.calculator-btn {
			width: 100%;
			padding: 10px;
			display: block;
		}
		.btn-calculator-value {
			display: block;
			margin: 10px auto;
		}
		.container-btn-values {
			align-items: center;
			flex-direction: column;
		}	
	}
	
	.header-area {
		background-color: #f7f7f7;
		padding: 0px 15px;
		height: 80px;
		box-shadow: none;
		text-align: center;
		.container {
			padding: 0px;
		}
		.logo {
			margin-left: 30px;
		}
		.menu-trigger {
			display: block !important;
		}
		.main-nav {
			overflow: hidden;
			.nav {
				float: none;
				width: 100%;
				margin-top: 0px !important;
				display: none;
				-webkit-transition: all 0s ease 0s;
				-moz-transition: all 0s ease 0s;
				-o-transition: all 0s ease 0s;
				transition: all 0s ease 0s;
				margin-left: 0px;
				li {
					&:first-child {
						border-top: 1px solid #eee;
					}
					width: 100%;
					background: #fff;
					border-bottom: 1px solid #eee;
					padding-left: 0px !important;
					padding-right: 0px !important;
					a {
						height: 50px !important;
						line-height: 50px !important;
						padding: 0px !important;
						border: none !important;
						background: #f7f7f7 !important;
						color: #191a20 !important;
						&:hover {
							background: #eee !important;
							color: #00317d!important;;
						}
					}
				}
				li.submenu {
					ul {
						position: relative;
						visibility: inherit;
						opacity: 1;
						z-index: 1;
						transform: translateY(0%);
						transition-delay: 0s, 0s, 0.3s;
						top: 0px;
						width: 100%;
						box-shadow: none;
						height: 0px;
						li {
							a {
								font-size: 12px;
								font-weight: 400;
								&:hover {
									&:before {
										width: 0px;
									}
								}
							}
						}
					}
					ul.active {
						height: auto !important;
					}
					&:after {
						color: #3B566E;
						right: 25px;
						font-size: 14px;
						top: 15px;
					}
					&:hover {
						ul {
							height: 0px;
						}
					}
					&:focus {
						ul {
							height: 0px;
						}
					}
				}
			}
		}
	}
	footer {
		.copyright {
			text-align: center;
		}
		.social {
			text-align: center;
		}
	}
}
@media (max-width: 1200px) {
	.header-area {
		.main-nav {
			.nav {
				li {
					padding-left: 12px;
					padding-right: 12px;
				}
			}
			&:before {
				display: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.header-area {
		.main-nav {
			.nav {
				display: flex !important;
			}
		}
	}
}
@media (max-width: 1420px) {
	.welcome-area {
		.header-text {
			width: 70%;
			margin-left: 5%;
		}
	}
}
@media (max-width: 1320px) {
	.welcome-area {
		.header-text {
			.left-text {
				margin-top: 50%;
			}
			width: 50%;
			margin-left: 5%;
		}
	}
}
@media (max-width: 1140px) {
	.welcome-area {
		height: auto;
		.header-text {
			width: 92%;
			padding-top: 793px;
			.left-text {
				margin-top: 5%;
				transform: none !important;
			}
		}
	}
}
@media (max-width: 810px) {
	.welcome-area {
		background-size: contain;
		.header-text {
			padding-top: 80%;
			margin-left: 0;
		}
	}
	.container-fluid {
		.col-md-12 {
			margin-right: 0px;
			padding-right: 0px;
		}
	}
}
@media (max-width: 992px) {
	.features-item {
		margin-bottom: 45px;
	}
	footer {
		padding-top: 0px !important;
		margin-top: 0px !important;
		.right-content {
			text-align: center;
		}
		.footer-content {
			padding: 60px 0px !important;
		}
	}
	.contact-form {
		margin-bottom: 45px;
	}
}
@media screen and (max-width: 1060px) {
	.owl-carousel {
		.owl-nav {
			display: none !important;
		}
	}
}


/* Exblog css */

.post-title-container {
	background-color: #00317d;
    box-sizing: border-box;
    margin-bottom: -1px;
    width: 100%;
    padding: 120px 24px 50px 24px;
    clear: both;
    overflow: hidden;
    display: flex;
    align-items: center;
	justify-content: center;
	.post-title {
		color: #ffffff;
        font: 400 48px Dancing Script, cursive;
        line-height: 1.41667;
        margin-bottom: 0;
	}
}

.btn-calculator,
.btn-calculator-reset {
	&.disabled {
		
		pointer-events: none;
		opacity: 0.2;
	
	}
}

.container-btn-values {
	margin-top: 20px;
	display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
	width: 100%;
	.btn-wrapper {

	}
}

.d-none {
	display: none;
}

.calculator-btn {
	display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.fill-details {
	margin-bottom: 10px;
}

.imgDetails{
	height: 225px;
	width: 200px;
}

.qouteStyle{
	text-align: center; 
	font-weight: 700;
	 padding-left: 50px;
	 padding-right: 50px;
}

.paraStyle{
	text-align: justify; 
}

// .aaaaaaaaaaaaaaaaa .background-header + #welcome {
// 	margin-top: 200px;
// }